Rules:
1. Be respectful in chat.
2. If you are a seller, and don't abide by the seller rules, you will be banned and blacklisted from every company we work with.
3. If you are a buyer, and steal the seller's key through illegal methods you will also be blacklisted from every company we work with.
4. Posting links, buying or selling, or anything else that is not related to rentals or regular conversation will result in an immediate ban. 
5. Being disrespectful to staff members will result in a consequence that is at the discrection of the staff member.
6. We reserve the right to terminate your place in this server for no apparent reason.
